.imagem {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  height: 700px;
}

.primeiroTitulo {
  color: rgb(129, 4, 4); 129, 4, 4
  background-color: rgb(238, 219, 109);
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}
